apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  namespace: pdn
  name: prueba-kubernete
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: prueba-kubernete
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 80